{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Home - CampusSquare</title>

  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">

  <!-- Bootstrap core CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">


  <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>

<body>
   
  <section class="title">
    <div class="container-fluid">

      <nav class="navbar navbar-expand-lg pt-3 px-5 fixed-top navbar-custom">

        <a class="navbar-brand" href="#">CampusSquare</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
          <i class="fas fa-bars fa-1x"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'index' %}">Home</a>
            </li>
            {% if user.is_authenticated %}
              <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Schedule
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                      <li><a class="dropdown-item" href="{% static 'image/cs4a.jpg' %}" target="_blank">CSE 4A</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              {% endif %} 
            <li class="nav-item">
              <a class="nav-link" href="{% url 'news' %}">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'training' %}">Training & Placement</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'campus' %}">On-Campus Events</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact Us</a>
            </li>

            {% if user.is_authenticated %}
            <li>
              <div class="logbutton">
                <a class="btn btn-outline-primary" href="{% url 'signout' %}" type="submit"> Logout</a>
              </div>
            </li>
            {% else %}
            <li>
              <div class="logbutton">
                <a class="btn btn-outline-primary" href="{% url 'signin' %}" type="submit"> Login / Signup</a>
              </div>
            </li>
              {% endif %}
          </ul>
        </div>
    </div>
    </nav>
    <main>


      <div id="myCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">

            <div class="container">
              <div>
                  <img class="target" src="{% static 'image/info.svg' %}" alt="Team">
                </div>
              <div class="carousel-caption text-end">
                
                <h1 class="caro-head"><span class="text-primary">Cam</span><span class="text-warning">pus</span><span class="text-danger">Squ</span><span class="text-success">are</span></h1>
                <p class="caro-p">Beaten grilling for information.., Messing around with schedule.., <br><span class="carousel-span"> We're here to change the paradigm (period).</span></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">

            <div class="container">
              <div>
                  <img class="event" src="{% static 'image/events.svg' %}" alt="Event">
                </div>
              <div class="carousel-caption text-end">
                <h1 class="caro-head2">Events. Schedule. News.,</h1>
                <p class="caro-p">Whooooof, we've covered the campus on CampusSquare.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
  </section>


  <div class="container-fluid marketing">

    <div class="row">
      <div class="col-lg-4 mark-feat">
        <a href="#News"><i class="icon fas fa-check-circle fa-4x"></i></a>
        <h2>Events</h2>
        <p>Find the Events Schedule News at one place</p>
        <p><a class="btn btn-secondary button" href="{% url 'news' %}">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 mark-feat">
        <a href="#Training"><i class="icon fas fa-bullseye fa-4x"></i></a>
        <h2>Training & placement</h2>
        <p>With experience backing you, get trained for tommorow.</p>
        <p><a class="btn btn-secondary button" href="{% url 'training' %}">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 mark-feat">
        <i class="icon fas fa-clock fa-4x"></i>
        <h2>Schedule</h2>
        <p>So that you will be on time <br> every time.</p>
        <p><a class="btn btn-secondary button" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

  </div>
  <section id="contact" class="contact">
    <div class="container-fluid">
      <div>
        <h1>Got a question, we're here to help.</h1>
      </div>
      <div class="row justify-content-center my-5">
        <div class="col-lg-6">
          <form id="Contact" class="" action="mailto:achalmaharshi@gmail.com" method="post" enctype="text/plain">
            <label for="email" class="form-label">Email:</label>
            <div class="mb-4 input-group">
              <span class="input-group-text">
                <i class="bi bi-envelope-fill"></i>
              </span>
              <input type="email" class="form-control" id="email" name="Your Email" placeholder="e.g. jason.statham@example.com" />
            </div>
            <label for="name" class="form-label">Name:</label>
            <div class="mb-4 input-group">
              <span class="input-group-text">
                <i class="bi bi-person-fill"></i>
              </span>
              <input type="text" class="form-control" id="name" placeholder="e.g. Jason">
            </div>
            <label for="subject" class="form-label">What is your question about..?</label>
            <div class="input-group mb-4">
              <span class="input-group-text"><i class="bi bi-chat-right-dots-fill"></i></span>
              <select class="form-select" id="subject">
                <option value="events" selected>Events</option>
                <option value="training">Resources</option>
                <option value="schedule">Schedule</option>
                <option value="other">Other</option>
              </select>
            </div>

            <div class="floating-form mb-4">
              <label for="subject" class="form-label">Write your query here....</label>
              <textarea id="query" class="form-control" rows="6" cols="80" placeholder="Your query....."></textarea>
            </div>
            <p><a class="btn btn-outline-dark btn-lg" href="mailto:for.eduprojects@gmail.com">Submit</a></p>

          </form>
        </div>
        <div class="col-lg-6">
         <img class="support" src="{% static 'image/support.svg' %}" alt="Support">
        </div>
      </div>


    </div>
  </section>
  <!-- FOOTER -->
  <footer class="container-fluid p-3 pb-0 mt-2">
    <p>&copy; 2021 CampusSquare </p>
  </footer>


  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </main>

</body>

</html>
